/* Common styles for all pages */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #fff;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
/* Header Styles New nav bar*/
        .header {
            align-items: center;
            background-color: white;
        }
        .logo img {
            height: 50px;
            
        }
        @media (max-width: 992px) {
            .header {
                padding: 15px 20px;
            }
            
        }
        @media (max-width: 576px) {
            .header {
                flex-wrap: wrap;
            }
        }
